config/dify-agents/意图识别智能体.yml
app:
  description: 'Linde

    Instruct系列属于指令微调系列，没有思考能力，所以运行的快'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Qwen-72B-Instruct——4.23智能体1——请求识别智能体
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1776996665259-llm
      selected: false
      source: '1776996665259'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1776997609593-true-1776998454201-target
      source: '1776997609593'
      sourceHandle: 'true'
      target: '1776998454201'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1776997609593-47a3d08f-7cb0-424e-b9b5-bc8da210f64d-1776998457791-target
      source: '1776997609593'
      sourceHandle: 47a3d08f-7cb0-424e-b9b5-bc8da210f64d
      target: '1776998457791'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1776997609593-bb757854-47d4-4a11-b933-38e1dfc7f602-1776998461113-target
      source: '1776997609593'
      sourceHandle: bb757854-47d4-4a11-b933-38e1dfc7f602
      target: '1776998461113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1776997609593-false-1776998463147-target
      source: '1776997609593'
      sourceHandle: 'false'
      target: '1776998463147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1776998454201-source-1776998559987-target
      source: '1776998454201'
      sourceHandle: source
      target: '1776998559987'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1776998457791-source-1776998559987-target
      source: '1776998457791'
      sourceHandle: source
      target: '1776998559987'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1776998461113-source-1776998559987-target
      source: '1776998461113'
      sourceHandle: source
      target: '1776998559987'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: answer
      id: 1776998559987-source-1776998684165-target
      source: '1776998559987'
      sourceHandle: source
      target: '1776998684165'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: llm-source-1776997609593-target
      source: llm
      sourceHandle: source
      target: '1776997609593'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1776996665259'
      position:
        x: 409.3900899309906
        y: 261
      positionAbsolute:
        x: 409.3900899309906
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5-3b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d8d766d3-ba17-4071-947b-441744385955
          role: system
          text: '# 角色：请求识别专家


            ## 任务

            你需要根据用户输入的文本，严格匹配请求类型。


            ## 匹配规则

            - 包含“出差申请” → 返回 0

            - 包含“差旅报销” → 返回 1

            - 包含“员工报销” → 返回 2

            - 不包含以上任何关键词 → 返回 无法识别


            ## 强制输出要求（必须严格遵守）

            1. 只允许输出以下内容之一：0、1、2、无法识别

            2. 禁止输出任何思考过程

            3. 禁止输出解释、分析、推理、备注

            4. 禁止输出多余符号、空格、换行

            5. 只输出最终结果，不要任何其他内容


            ## 输出格式

            直接输出类型代码，不要输出思考过程，也不要任何其他内容'
        - id: d6c7bd96-596e-46b3-b9fe-fb6ef48e2d73
          role: user
          text: 用户输入的文本：{{#sys.query#}}
        selected: false
        title: 请求识别
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 714.9055946318944
        y: 282
      positionAbsolute:
        x: 714.9055946318944
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: c519c54a-c7d2-4737-ab25-9cc72218ab5b
            value: '0'
            varType: string
            variable_selector:
            - llm
            - text
          id: 'true'
          logical_operator: and
        - case_id: 47a3d08f-7cb0-424e-b9b5-bc8da210f64d
          conditions:
          - comparison_operator: contains
            id: ae6cfbbe-958b-467c-b8ad-ca466d27debd
            value: '1'
            varType: string
            variable_selector:
            - llm
            - text
          id: 47a3d08f-7cb0-424e-b9b5-bc8da210f64d
          logical_operator: and
        - case_id: bb757854-47d4-4a11-b933-38e1dfc7f602
          conditions:
          - comparison_operator: contains
            id: 486c66d8-5c17-4ac3-8ea0-70b7c9ee4c6a
            value: '2'
            varType: string
            variable_selector:
            - llm
            - text
          id: bb757854-47d4-4a11-b933-38e1dfc7f602
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 219
      id: '1776997609593'
      position:
        x: 990
        y: 282
      positionAbsolute:
        x: 990
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: boximiyadaodao
        desc: ''
        height: 178
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"请求类型代码：","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          0:出差申请","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          1:差旅报销","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          2:员工报销","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 288
      height: 178
      id: '1776998415206'
      position:
        x: 992
        y: 685.1870448253766
      positionAbsolute:
        x: 992
        y: 685.1870448253766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 288
    - data:
        code: "def main(intent_type_code):\n    if str(intent_type_code) == \"0\"\
          :\n        return {\n        \"URL\": \"http://localhost:5173/business-trip\"\
          \n        }\n   "
        code_language: python3
        outputs:
          URL:
            children: null
            type: string
        selected: false
        title: 0出差申请页面跳转
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: intent_type_code
      height: 51
      id: '1776998454201'
      position:
        x: 1292
        y: 272.9057006009376
      positionAbsolute:
        x: 1292
        y: 272.9057006009376
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(intent_type_code):\n    if str(intent_type_code) == \"1\"\
          :\n        return {\n        \"URL\": \"http://localhost:5173/travel-reimbursement\"\
          \n        }\n   "
        code_language: python3
        outputs:
          URL:
            children: null
            type: string
        selected: true
        title: 1差旅报销页面跳转
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: intent_type_code
      height: 51
      id: '1776998457791'
      position:
        x: 1292
        y: 361.38998403442724
      positionAbsolute:
        x: 1292
        y: 361.38998403442724
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(intent_type_code):\n    if str(intent_type_code) == \"2\"\
          :\n        return {\n        \"URL\": \"http://localhost:5173/employee-reimbursement\"\
          \n        }\n    "
        code_language: python3
        outputs:
          URL:
            children: null
            type: string
        selected: false
        title: 2员工报销
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: intent_type_code
      height: 51
      id: '1776998461113'
      position:
        x: 1292
        y: 447.87426746791687
      positionAbsolute:
        x: 1292
        y: 447.87426746791687
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 请求识别失败，请您重新输入请求
        selected: false
        title: 请求识别失败
        type: answer
        variables: []
      height: 99
      id: '1776998463147'
      position:
        x: 1292
        y: 545
      positionAbsolute:
        x: 1292
        y: 545
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1776998454201'
          - URL
        - - '1776998457791'
          - URL
        - - '1776998461113'
          - URL
      height: 160
      id: '1776998559987'
      position:
        x: 1717.8742674679168
        y: 361.38998403442724
      positionAbsolute:
        x: 1717.8742674679168
        y: 361.38998403442724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776998559987.output#}}'
        selected: false
        title: '直接回复 '
        type: answer
        variables: []
      height: 102
      id: '1776998684165'
      position:
        x: 2019.8742674679168
        y: 361.38998403442724
      positionAbsolute:
        x: 2019.8742674679168
        y: 361.38998403442724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -874.8742674679229
      y: -134.38998403442838
      zoom: 1.0000000000000029
  rag_pipeline_variables: []
